.site-container {
    width: 80em;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-header {
    padding: 2em;
    margin: 0 0 1em 0;
}

.site-logo {
    width: 5em;
    height: 2em;
}

.site-content {
    flex: 1;
}

.site-footer {
   text-align: center;

    margin: 1em 0 0 0;
    padding: 1em 0;
}

input[type=text], input[type=password] {
    display: inline-block;

    width: 100%;

    padding: 2%;
    margin: 2%;

    text-align: left;

    box-sizing: border-box;
}

/* Center the image and position the close button */
.imgContainer {
    position: relative;
    text-align: center;
    margin: 5% auto;
}

.modal img.site-logo {
    width: 20%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;

    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 0.2em solid black;
    width: 25%; /* Could be more or less, depending on screen size */
}

.submit-button {
    position: relative;
    width: 40%;
    text-align: center;
    margin: 2% auto;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 5%;
    padding: 10px 18px;
    top: 0;
}

/* ------------- HOME PAGE: PLACES ------------*/
.places {
    padding: 0 5%;

    display: flex;
    justify-content: left;
}

.place {
    flex-basis: 20%;
}

.place-city-country, .place-title {
    text-align: left;
}

.place-image {
    width: 90%;
    height: auto;
}
