.availability, #available{
    color:green;
}
.availability, #not_available{
    color:red;
}

/*images*/ 
.imgGallery{
    width: 25%;
    height: auto;
}

#num_people_icon{
    width: 2%;
    height: auto;
}