/* ------------- PLACE PAGE ------------*/

#place_page {
    margin-top: 1em;
    display: block;
    width: 100%;
    height: 100%;
}

#place_page #place_header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* margin-top: 2em; */
    /* margin-bottom: 1em; */
    background-color: white;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-top-style: solid;
    border-top-color: var(--button-color);
    border-top-width: 5px;
}

#place_page #place_header h1 {
    font-size: 2em;
}

#place_page #place_header #edit_place {
    margin: 0 0 0 2em;
    padding: 0.7em 1em;
}

#place_page #place_header #remove_place {
    margin: 0 0 0 1em;
    padding: 0.7em 1em;
    background-color: red;
}

/*--------- Location ------- */

#place_page #location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
    padding-left: 1em;
    margin: 0 0;
    background: var(--panel-color);
    color: black;
    font-weight: bold;
}

#place_page #location>li:first-child::after, #place_page #location>li:last-child::before {
    content: "-";
    padding: 0 0.5em;
}

/*--------- Place Details ------- */

#place_page #place_details {
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    /* justify-content: space-between; */
    /* margin: 1.2em 0 0.2em 0; */
    background: white;
}

#place_page #place_details>* {
    display: flex;
    align-items: center;
    width: max-content;
    margin-right: 1.5em;
}

#place_page #place_details>*>* {
    padding: 0 0.1em;
    font-weight: bold;
    width: max-content;
}

#place_page #place_details .rating::before {
    content: "Rating: ";
    font-weight: bold;
}

#place_page #place_details .rating i {
    color: var(--rating-star-color);
}

#place_page #place_details #num_guests::before {
    content: "Max. ";
    font-weight: bold;
}

#place_page hr {
    margin: 0.2em 0 1em 0;
}

/*--------- Place Body ------- */

#place_page #place_body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 100%;
    margin: 0;
    grid-template-columns: max-content auto;
    background: white;
    border-top-style: solid;
    border-top-color: var(--button-color);
    border-top-width: 10px;
}

/* ------ Gallery & Rent Section ------*/

#place_page #place_body #gallery_rent {
    grid-column-start: 1;
    grid-column-end: 2;
    width: max-content;
}

#place_page #place_body #gallery_rent #place_gallery img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

/* ------ Rent Section ------*/

#place_page #place_body #gallery_rent #rent_section {
    padding: 1em;
    margin: 0em 0;
    text-align: center;
}

#place_page #place_body #gallery_rent #rent_section #price_per_night {
    width: max-content;
    height: min-content;
    margin: 0 auto;
}

#place_page #place_body #gallery_rent #rent_section h3 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    text-align: center;
    font-size: 1.5em;
}

#place_page #place_body #gallery_rent #rent_section .reservation_tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#place_page #place_body #gallery_rent #rent_section .reservation_tile>.tourist {
    width: max-content;
    margin: auto 0;
}

#place_page #place_body #gallery_rent #rent_section .reservation_tile>.date {
    width: max-content;
}

#place_page #place_body #gallery_rent #rent_section .reservation_tile>.date>* {
    margin: 1em 0;
}

#place_page #place_body #gallery_rent #rent_section .reservation_tile>.numbers {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1em 0;
}

#place_page #place_body #gallery_rent #rent_section .reservation_tile>.numbers>* {
    display: flex;
    align-items: center;
}

#place_page #place_body #gallery_rent #rent_section .reservation_tile>.numbers span {
    font-weight: bold;
    padding-left: 0.5em;
}

#place_page #place_body #gallery_rent #rent_section .reservation_tile>.numbers .reservation_price::after {
    content: "€";
    font-weight: bold;
}

/* ------ Price ------*/

#place_page #place_body #gallery_rent #rent_section #price_per_night {
    display: flex;
    align-items: center;
    justify-content: center;
}

#place_page #place_body #gallery_rent #rent_section #price_per_night>* {
    font-size: 1.7em;
}

#place_page #place_body #gallery_rent #rent_section #price_per_night::after {
    content: "/night";
    font-size: 1em;
}

#place_page #place_body #gallery_rent #rent_section h2 {
    font-size: 2em;
    width: 60%;
    margin: 0.5em auto;
}

#place_page #place_body #place_info {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 2em;
    margin-top: 1em;
    width: auto;
}

/* Place Info */

#place_page #place_body #place_info #description p {
    padding: 0.5em;
    font-size: 1.5em;
    margin: 0;
}

/* -------- Comment section ------- */

#place_page #place_body #place_info #comments h2 {
    margin-bottom: 1em;
}

#place_page #place_body #place_info #comments h3 {
    padding: 2em;
}

.comment {
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0;
}

.comment_header {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment_header .comment_date {
    margin-left: 1em;
}

.comment_body {
    grid-row-start: 2;
    grid-row-end: 3;
}

.comment_body p {
    font-size: 1.2em;
}

.comment_reply {
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 4em;
}

.comment_reply button.reply {
    margin: 0;
    padding: 0.5em 1em;
}

.comment_reply .reply_box {
    display: none;
}

#comments hr {
    margin: 2em;
}

@media (max-width: 1220px) {
    #place_page {
        margin-top: 0em;
    }
    #place_page #place_body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        width: 100%;
    }
    #place_page #place_body #gallery_rent {
        margin: auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: max-content;
    }
    #place_page #place_body #place_info {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 1em;
        width: 100%;
    }
    #place_info #tags {
        width: 100%;
    }
    #place_header {
        width: 99%;
    }
    #location {
        width: 99%;
    }
    #place_details {
        width: 99%;
    }
    #place_page #place_body #place_info {
        max-width: 100%;
        margin: 0em;
    }
    #place_page {
        width: 100%;
        align-items: center;
    }
    #comments {
        margin-left: 1em;
    }
}