html {
    background-color: dimgray;
}

.site-container {

    --panel-color: #434343;
    
    --background-color: #E9ECEC;

    --roboto-font: 'Roboto', sans-serif;

    background-color: var(--background-color);
}

/**
 * Generic
 */

a, p, input, li, button, label {
    font-family: var(--roboto-font);
}
  
a {
    color: black;
    text-decoration: none;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: var(--roboto-font);
}

li {
    list-style: none;
    list-style-type: none;
}

.site-header {
    background-color: var(--panel-color);
    color: white;
}

.site-footer {
    background-color: var(--panel-color);
    color: white;
}

/* 
Model Forms. Used for Sign In and Sign Up Pop up Modal forms
*/
/* Full-width input fields */
input[type=text], input[type=password] {
    border-width: 0.5em solid black;
}

label {
    font-weight: bold;
    font-family: var(--roboto-font);
    font-size: 1em;
}

/* Set a style for all buttons */
button {
    background-color: inherit;
    padding: 0.5em;
    border-width: 0vw;

    cursor: pointer;

    font-family: var(--roboto-font);
    font-size: 1em;
}

.site-header button {
    color: white;
}

.form button {
    color: black;
}

.submit-button {
    background-color: lawngreen;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 1em;
}

/* The Modal (background) */
.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
}

/* The Close Button (x) */
.close {
    color: #000;
    font-size: 2em;
    font-weight: bold;
    border-width: 0;
    width: auto;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.place-city-country {
    font-family: var(--roboto-font);
    font-size: 1.5em;
    color: black;
}

.place-title {
    font-family: var(--roboto-font);
    font-size: 1em;
    color: black;
}

.place-footer {
    color:black;
}

.place-rating {
   
    color: black
}

.place-price {
   
    color: black;
}

.place-rating {

}

  