#site_footer {
    /* Layout */
    text-align: center;
    margin: 0;
    padding: 1em;
    /* Style */
    background-color: var(--panel-color);
    font-family: var(--roboto-font);
    font-weight: bold;
    font-size: 0.5em;
    color: white;
}

/* -------- LOGO ------- */

#site_logo {
    margin: 0 1em;
    position: relative;
}

#site_logo>a {
    display: flex;
}

#site_logo img {
    /* Layout */
    width: 5em;
    height: 5em;
}

#site_name {
    width: min-content;
    font-size: 2em;
    margin: 0 0.5em;
}

#site_container {
    /* Layout */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Style */
    background-color: var(--background-color);
}

#site_content {
    flex: 1;
}

#main_title {
    width: 100%;
    background-color: white;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top-style: solid;
    border-top-color: var(--button-color);
    border-top-width: 5px;
    text-align: center;
}

/* Customization for the input of type date */

.form_date {
    max-width: max-content;
    display: flex;
    align-items: center;
}

.form_date .check_in input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form_date .check_out input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Customizing every input for number of guests */

#num_guests_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
    width: min-content;
}

#num_guests_input input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    width: min-content;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

#num_guests_input .button {
    padding: 0.5em;
    width: 1em;
    height: 1em;
    text-align: center;
    margin: 0;
    border-radius: 100%;
    text-align: center;
    font-weight: bold;
}

/* The Close Button (x) */

.close {
    /* Layout */
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4em;
    /* Style */
    color: black;
    font-size: 2em;
    font-weight: bold;
    border-width: 0;
    width: auto;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.submit_button {
    /* Layout */
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0.5em 0;
    padding: 0.7em;
    /* Style */
    font-size: 1.2em;
    color: white;
    background-color: var(--button-color);
}

/* User Tile*/

.user_profile_tile {
    display: flex;
    align-items: flex-end;
    width: max-content;
}

.user_profile_tile a {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 0.9em;
}

.user_profile_tile img {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: 0 0.5em;
}

.user_profile_tile .username {
    padding: 0 0.5em;
}

/* Genneric Place Gallery */

#place_gallery {
    position: relative;
    z-index: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

#place_gallery #image_container {
    position: relative;
    max-width: max-content;
    margin: auto;
}

#place_page #place_body #gallery_rent #place_gallery img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

#place_gallery .image_slide, #place_gallery #fullscreen_slide {
    display: none;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#place_gallery #image_container #display_left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    margin: 0 0.5em;
    cursor: pointer;
    font-size: 2em;
    color: lightgray;
    text-shadow: 0 0 0.4em black;
    opacity: 0.7;
}

#place_gallery #image_container #display_right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    margin: 0 0.5em;
    cursor: pointer;
    font-size: 2em;
    color: lightgray;
    text-shadow: 0 0 0.5em black;
    opacity: 0.7;
}

#place_gallery #image_container #full_screen {
    position: absolute;
    right: 0.6em;
    top: 0.6em;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

#place_gallery #image_container #full_screen i {
    color: lightgray;
    text-shadow: 0 0 0.5em black;
    font-size: 3em;
    opacity: 0.7;
}

#place_gallery #image_container #display_left:hover, #place_gallery #image_container #display_right:hover, #place_gallery #image_container #full_screen i:hover {
    color: white;
    opacity: 1;
}

/* Tags */

#tags {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: rgb(236, 236, 236);
    color: black;
    margin-top: 1em;
    margin-bottom: 2em;
}

#tags .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 1em;
    width: max-content;
}

#tags .tag .checkbox_container {
    position: relative;
    margin: 0 0.6em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1.2em;
    height: 1.2em;
    border: 0.08em solid black;
    border-radius: 30%;
}

/* Hiding default checkbox to crete our own */

#tags .tag .checkbox_container input {
    position: absolute;
    left: 0;
    top: -0.5em;
    z-index: 1;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#tags .tag .checkbox_container:hover {
    opacity: 0.6;
}

#tags .tag .checkbox_container i {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

#tags .tag .checkbox_container i.active {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
}

#tags .tag .checkbox_container i.inactive {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

/* Upload */

#upload {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
    width: min-content;
}

/* Upload button */

#upload .upload_button {
    margin: 1em 0;
    padding: 1em 0;
    text-align: center;
    width: 100%;
    z-index: 0;
    cursor: pointer;
    position: relative;
}

/* Removing original button */

#upload .upload_button input[type="file"] {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none;
    margin: 0;
    padding: 0;
}

#upload .upload_button input[type="file"]:hover {
    cursor: pointer;
}

/* FEEDBACK MESSAGES */

#messages {
    position: fixed;
    display: block;
    z-index: 10;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

#messages>div.error {
    border-color: red;
}

#messages div.success {
    border-color: green;
}

#messages>div {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 1em black;
    border: 0.2em solid;
    border-radius: 0.5em;
    font-size: 1.5em;
    color: black;
    background-color: white;
    font-family: var(--roboto-font);
    font-size: 1em;
    font-weight: bold;
}

@media (max-width: 1220px){
    #site_content {
        width: 100%;
    }
}

@media (max-width: 1010px){
    #main_title{
        padding-left: 0px;
        text-align: center;
    }
}