body {
    /* Definition of variables */
    --panel-color: rgb(25, 195, 255);
    --button-color: rgb(5, 139, 187);
    --search-grey: rgb(242, 242, 242);
    --background-color: rgb(230, 230, 230);
    --form-input-color: rgb(195, 195, 195);
    --rating-star-color: rgb(242, 255, 0);
    --roboto-font: "Roboto", sans-serif;
}

#site_container {
    /* Layout */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Style */
    background-color: var(--background-color);
}

#site_content {
    flex: 1;
    width: 80em;
    margin: 2em auto;
}


/* --------------- Generics --------------- */

a,
p,
input,
li,
button,
label,
div,
textarea {
    font-family: var(--roboto-font);
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--roboto-font);
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    list-style-type: none;
}

textarea {
    resize: none;
}

label {
    font-weight: bold;
}


/* Set a style for all buttons */

button,
.button {
    color: white;
    background-color: var(--button-color);
    padding: 0.5em;
    font-family: var(--roboto-font);
    font-size: 1em;
    border-width: 0;
    border-radius: 0;
}

button:hover,
.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

button:focus,
.button:focus {
    outline: 0;
}


/* Full-width input fields */

input,
select,
textarea {
    /* Layout */
    display: inline-block;
    width: 100%;
    margin: 0.5em 0 1em 0;
    padding: 1em;
    /* Style */
    border: 0.08em solid grey;
    border-radius: 0.5em;
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
    border: 0.08em solid var(--panel-color);
    outline: 0;
}


/* Customizing input of type number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outter-spin-button {
    -webkit-appearance: none;
}


/* ----------------- Site - General -------------- */


/* ------------- Header --------- */

#site_header {
    /* Layout */
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Style */
    background-color: var(--panel-color);
    color: white;
}

#site_footer {
    /* Layout */
    text-align: center;
    margin: 0;
    padding: 1em;
    /* Style */
    background-color: var(--panel-color);
    font-family: var(--roboto-font);
    font-weight: bold;
    font-size: 1em;
    color: black;
}


/* -------- LOGO ------- */

#site_logo {
    margin: 0 1em;
}

#site_logo>a {
    display: flex
}

#site_logo img {
    /* Layout */
    width: 5em;
    height: 5em;
}

#site_name {
    width: min-content;
    font-size: 2em;
    margin: 0 0.5em;
}

#site_header button {
    /* Layout */
    margin: 0;
    padding: 1em;
    text-align: center;
    width: 6em;
    /* Style */
    font-size: 1em;
}

#site_header #auth_forms_buttons {
    margin: 0 2em;
}

#site_header #auth_forms_buttons>button {
    margin: 0 0.5em;
}


/* Search Button */

#site_header #search_button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/* User Name */

#site_header #username_tile {
    display: flex;
    align-items: center;
    margin: 0 2em;
    width: max-content;
    border-width: 0;
}

#site_header #username_tile img {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: 0 1em 0 0;
    padding: 0;
}

#site_header #username_tile #username {
    text-align: center;
}


/* ------------- DROPDOWN MENU  --------- */

.dropdown_menu {
    /* Layout */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    width: max-content;
    padding: 0;
    margin: 0;
    /* Style */
    background-color: white;
    box-shadow: 0 0 1em black;
    border-radius: 0.5em;
    font-size: 1.2em;
}

.dropdown_menu>a {
    width: 7em;
    padding: 1em;
    margin: 0em;
    text-align: center;
    color: black;
}

.dropdown_menu>a:hover,
.dropdown_menu>a:focus {
    background-color: var(--button-color);
    color: white;
}

.dropdown_menu>a:first-child:hover,
.dropdown_menu>a:first-child:focus {
    border-radius: 0.5em 0.5em 0 0;
}

.dropdown_menu>a:last-child:hover,
.dropdown_menu> :last-child:focus {
    border-radius: 0 0 0.5em 0.5em;
}

#user_dropdown_menu.dropdown_menu {
    position: absolute;
    right: 3em;
    top: 5em;
}


/* ------------- HOME PAGE: SEARCH BAR ------------*/
#search_form {
    /* Layout */
    position: relative;
    display: none;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 0;
    /* Style */
    color: black;
    background-color: white;
    text-decoration: none;
    
}

#search_form>.search_type{
    max-width: 16em;
    margin: 1em;
    align-content: center;

}

#search_form>.search_type>input[type=text] {
    border: none;
    border-bottom: 2px solid var(--panel-color);
  }

#search_form>div {
    max-width: 8em;
    margin: 1em;
}
/*suggestions*/
#search_suggestions {
    background-color: white;
    margin: 0;
    padding: 0;
    max-width: 16em;
    width: 50%;
    overflow: hidden;
    position: absolute;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 5;
}

#result_suggestions{
    margin: 0.1em;
    padding: 0.5em;
    border-bottom:  0.05em solid var(--panel-color);

    cursor: pointer; 
}

#result_suggestions:hover{
    background-color: var(--search-grey);
}

/* Customizing every input for number of guests */

#num_guests_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0em 0em 0em;
}

#num_guests_input input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    width: 50%;
    -webkit-appearance: none; 
    -moz-appearance:textfield;
}

#num_guests_input .button {
    padding: auto;
    width: 1em;
    height: 1em;
    text-align: center;
    margin: 0;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    
}

#search_form .submit_button {
    background-color: transparent;
    width: min-content;
    margin: 0;
    padding: 0;
}

#search_form .submit_button img {
    width: 2em;
    height: 2em;
}

#search_form>.price{
    max-width: 16em;
    margin: 1em;
    align-content: center;

}


#show_price{
    display: block;
    text-align: center;
    font-weight: bold;

}

/* SLIDER */


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--button-color);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--button-color);
    cursor: pointer;
  }

/* MESSAGES */

body>#messages div {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 1em black;
    border: 0.05em solid;
    border-radius: 0.5em;
    font-size: 1.2em;
    color: black;
    background-color: white;
    font-family: var(--roboto-font);
    font-size: 1em;
    font-weight: bold;
}

body>#messages .error {
    border-color: red;
}

body>#messages .success {
    border-color: green;
}


/* ----------------- Model Forms ---------------- */


/* The Modal (background) */

.modal {
    /* Layout */
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* Style */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal_content {
    /* Layout */
    display: block;
    margin: auto;
    border-radius: 0.5em;
    box-shadow: 0 0 1em black;
    width: 40em;
    /* Could be more or less, depending on screen size */
    /* Style */
    background-color: white;
}

.modal_content_sign_up {
    /* Layout */
    display: block;
    margin: auto;
    border-radius: 0.5em;
    box-shadow: 0 0 1em black;
    width: 40em;
    /* Could be more or less, depending on screen size */
    /* Style */
    background-color: white;
}

.modal_content_sign_in {
    /* Layout */
    display: block;
    margin: auto;
    border-radius: 0.5em;
    box-shadow: 0 0 1em black;
    width: 30em;
    /* Could be more or less, depending on screen size */
    /* Style */
    background-color: white;
}

.container_sign_up {
    /* Layout */
    padding-right: 4em;
    padding-left: 4em;
    padding-top: 4em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 15em 2em 15em;
    grid-template-rows: auto auto auto auto;
}

.container_sign_in {
    /* Layout */
    padding-right: 4em;
    padding-left: 4em;
    padding-top: 4em;
    padding-bottom: 1em;
    display: block;
}

/* ---- Sign Up Grid --- */
.gridd_first_name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gridd_last_name {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gridd_email {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gridd_password {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.gridd_confirm_password {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.gridd_country_id {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.gridd_phone_num {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.gridd_submit_button {
    padding-bottom: 1em;
}

/* ---- Sign In Grid --- */

.grid_email {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid_password {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid_submit_button {
    padding-bottom: 1em;
}


/* Center the image */

.img_container {
    /* Layout */
    width: 100%;
    height: 5%;
    position: relative;
    text-align: center;
}

.img_container img {
    padding: 1em 0 0 0;
}


/* The Close Button (x) */

.close {
    /* Layout */
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4em;
    /* Style */
    color: black;
    font-size: 2em;
    font-weight: bold;
    border-width: 0;
    width: auto;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.modal img.site_logo {
    width: 20%;
}

.submit_button {
    /* Layout */
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0.5em 0;
    padding: 0.7em;
    /* Style */
    font-size: 1.2em;
    color: white;
    background-color: var(--button-color);
}


/* ---------------- Animations ----------------- */


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* ------------- HOME PAGE: PLACES ------------*/

#site_content .places {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#site_content .places #no_place {
    font-size: 1.2em;
    padding: 0.5em 4em;
}

#site_content .places .place {
    /* Layout */
    text-align: left;
    max-width: 20em;
    margin: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 0em;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25,1);
}

#site_content .places .place:hover {
    box-shadow: 0 0 1em rgb(128, 128, 128);
}

#site_content .places .place a .place_city_country {
    /* Layout */
    margin: 0;
    padding: 1em;
    /* Style */
    font-size: 1em;
    font-weight: normal;
}

#site_content .places .place a .place_title {
    /* Style */
    font-size: 1.2em;
    margin: 1em 0;
    padding: 0 1em;
}

#site_content .places .place a .place_image {
    /* Layout */
    width: 100%;
    height: 100%;
    margin: 0;
}

#site_content .places .place a .place_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: rgb(0, 0, 0);
    background-color: var(--panel-color);
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}

#site_content .places .place a .place_footer>* {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 1em;
}

#site_content .places .place a .place_footer>*>* {
    padding: 0 0.1em;
}

#site_content .places .place a .place_footer .place_rating i {
    color: var(--rating-star-color);
    font-size: 1.3em;
}

#site_content .places .place a .place_footer .place_price * {
    font-size: 1.4em;
}


/* ------------- PLACE PAGE ------------*/

#place_page {
    display: block;
    margin: 0 1em;
    width: 100%;
    height: 100%;
}

#place_page #place_header {
    display: flex;
    align-items: flex-end;
}

#place_page #place_header h1 {
    font-size: 2em;
}

#place_page #place_header #edit_place{
    margin: 0 0 0 2em;
    padding: 0.7em 1em;
}

#place_page #place_header #remove_place {
    margin: 0 0 0 1em;
    padding: 0.7em 1em;
    background-color: red;
}


/*--------- Owner Profile ------- */

#place_page #place_header #owner_profile {
    display: flex;
    align-items: flex-end;
    width: max-content;
}

#place_page #place_header #owner_profile::before {
    content: "By:";
    padding: 0 0.2em 0 1em;
}

#place_page #place_header #owner_profile a {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 0.9em;
}

#place_page #place_header #owner_profile img {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: 0 0.5em;
}

#place_page #place_header #owner_profile #username {
    padding: 0 0.5em;
}


/*--------- Location ------- */

#place_page #location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0.5em 0;
}

#place_page #location>li:first-child::after,
#place_page #location>li:last-child::before {
    content: "-";
    padding: 0 0.5em;
}


/*--------- Place Details ------- */

#place_page #place_details {
    display: flex;
    align-items: center;
    width: 14em;
    justify-content: space-between;
    margin: 1.2em 0 0.2em 0;
}

#place_page #place_details>* {
    display: flex;
    align-items: center;
    width: max-content;
}

#place_page #place_details>*>* {
    padding: 0 0.1em;
    font-weight: bold;
}

#place_page #place_details .rating::before {
    content: "Rating: ";
    font-weight: bold;
}

#place_page #place_details .rating i {
    color: var(--rating-star-color);
}

#place_page #place_details #num_guests::before {
    content: "Max. ";
    font-weight: bold;
}

#place_page hr {
    margin: 0.2em 0 1em 0;
}


/*--------- Place Body ------- */

#place_page #place_body {
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-columns: max-content auto;
}


/* ------ Gallery & Rent Section ------*/

#place_page #place_body #gallery_rent {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 1em;
    width: max-content;
}


/* ------ Generic Place Gallery ------*/

#place_gallery #image_container {
    position: relative;
    width: auto;
}

#place_page #place_body #gallery_rent #place_gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
}

/* Genneric Place Gallery */

#place_gallery .image_slide {
    display: none;
}

#place_gallery #image_container .display_left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 2em;
}

#place_gallery #image_container .display_right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 2em;
}


/* ------ Rent Section ------*/

#place_page #place_body #gallery_rent #rent_section {
    border-width: 4em;
    border-radius: 1em;
    border: solid black;
    padding: 1em;
    margin: 1em 0;
    text-align: center;
}

#reservation_line{
    border-width: 4em;
    border-radius: 1em;
    border: solid black;
    padding: 1em;
    margin: 1em;
    margin-left: 0em;
}
#reservation_line>#title{
    text-align: left;
    font-weight: bold;
}

#reservation_line >#owner_profile,#reservation_line >#owner_profile>*{
    display: flex;
    align-items: center;
    width: 5em;
    font-size: 0.9em;
}

#reservation_line>div, #reservation_line>button{
    float: right;
}

#reservation_line>#cancel{
    background-color: red;
}

/* ------ Price ------*/

#place_page #place_body #gallery_rent #rent_section #price_per_night {
    display: flex;
    align-items: center;
    justify-content: center;
}

#place_page #place_body #gallery_rent #rent_section #price_per_night>* {
    font-size: 1.7em;
}

#place_page #place_body #gallery_rent #rent_section #price_per_night::after {
    content: "/night";
    font-size: 1em;
}

#place_page #place_body #gallery_rent #rent_section h2 {
    font-size: 2em;
    width: 60%;
    margin: 0.5em auto;
}

#place_page #place_body #place_info {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 1em;
    width: auto;
}

/* Tags */

#place_page #place_body #place_info #place_tags {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
}

#place_page #place_body #place_info #place_tags .tag {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#place_page #place_body #place_info #description p {
    padding: 0.5em;
    font-size: 1.5em;
    margin: 0;
}


/*-----USER PROFILE-------*/

#profile_page {
    display: grid;
    grid-template-columns: 30% 70%;
}


/*-- User Info --*/

#profile_page #user_info {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 1em;
}


/*-- User Name --*/

#profile_page #user_info #user_first_name {
    margin: 0 0 0.2em 0;
    font-size: 2.5em;
}

#profile_page #user_info #user_last_name {
    margin: 0 0 0.5em 0;
    font-size: 2em;
}


/*- User Bio Section -*/

#profile_page #user_info #user_bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile_page #user_info #user_bio #profile_pic {
    width: 100%;
    height: auto;
}

#profile_page #user_info #user_bio #phone_number {
    padding: 1em;
    font-size: 1.4em;
}

#profile_page #user_info #user_bio #email {
    padding: 0;
    max-width: fit-content;
    font-size: auto;
}


/*- User Options -*/

#profile_page #user_info #user_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

#profile_page #user_info #user_options .button {
    padding: 1em;
    margin: 0.5em;
    width: 40%;
    text-align: center;
}


/*-- User Places --*/

#profile_page #user_places {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 1em;
}


/*- Placs for Rental -*/

#profile_page #user_places #for_rental,
#profile_page #user_places #reservations {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#profile_page #user_places h3 {
    font-size: 1.5em;
    margin: 1em;
    text-align: left;
    width: 100%;
}


/*- Reservations -
#profile_page #user_places #reservations {
    
}*/


/*----- EDIT PROFILE -------*/

#edit_profile {
    display: grid;
    grid-template-columns: auto auto;
}

/* Profile info */

#edit_profile #profile_info {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 1em;
}

#edit_profile #profile_info #profile_pic_update img {
    width: 100%;
    height: 100%;
}

/* Profile details */

#edit_profile #profile_details {
    grid-column-start: 2;
    grid-column-end: end;
    margin: 1em;
}


/*----- ADD PLACE & EDIT PLACE-------*/

#add_place, 
#edit_place {
    display: block;
    margin: 0 1em;
}


/*-- Place title --*/

#add_place #place_title, 
#edit_place #place_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 1.2em 0;
}

#add_place #place_title label,
#edit_place #place_title label {
    padding: 0 0.5em 0 0;
    font-size: 2.4em;
}

#add_place #place_title input,
#edit_place #place_title input{
    margin: 0;
    padding: 0.6em 1em;
    font-size: 1.2em;
}


/*-- Place location --*/

#add_place #location,
#edit_place #location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0.5em 0;
}

#edit_place #location > * {
    margin: 1em;
}

#add_place #location .form_country,
#add_place #location .form_city {
    margin: 0 1em 0 0;
    width: 10em;
}

#add_place #location #address {
    flex-grow: 5;
}


/*-- Place numbers - price & num guests --*/

#add_place #numbers,
#edit_place #numbers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.8em 0 0.5em 0;
}

#add_place #numbers>*,
#edit_place #numbers>* {
    display: flex;
    align-items: center;
    margin: 0 2em 0 0;
    width: min-content;
}

#add_place #numbers>* label,
#edit_place #numbers>* label {
    margin: 0 0.6em 0 0;
    font-size: 1.3em;
    width: max-content;
}


/* Price */

#add_place #numbers #price label,
#edit_place #numbers #price label {
    min-width: max-content;
}

#add_place #numbers #price .price_input,
#edit_place #numbers #price .price_input {
    position: relative;
}

#add_place #numbers #price .price_input input,
#edit_place #numbers #price .price_input input {
    max-width: 10em;
    min-width: 5em;
    font-size: 1.5em;
    padding: 0.2em 0.7em;
    margin: 0;
}

#add_place #numbers #price .price_input i,
#edit_place #numbers #price .price_input i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    padding: 0.3em 0.5em;
}

#add_place #body,
#edit_place #body {
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-columns: max-content auto;
}


/* Upload */

#add_place #body #upload,
#edit_place #body #upload {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 1em;
    width: max-content;
}

#add_place #body #upload img,
#edit_place #body #upload img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5em; 
}

/* Upload button */

.upload_button {
    margin: 1em auto;
    text-align: center;
    padding: 1em 1.4em;
    width: max-content;
    z-index: 1;
    position: relative;
}

/* Removing original button */

.upload_button input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none;
    margin: 0;
    padding: 0;
}

.upload_button input[type="file"]:hover,
.upload_button:hover {
    cursor: pointer;
}


/* Details */

#add_place #body #details,
#edit_place #body #details {
    grid-column-start: 2;
    grid-column-end: span end;
    margin: 1em;
}

#add_place #body #details label,
#edit_place #body #details label {
    font-size: 1.4em;
}

#add_place #body #details #description textarea,
#edit_place #body #details #description textarea {
    font-size: 1.2em;
}


/* Tags */

#add_place #body #details #tags,
#edit_place #body #details #tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#add_place #body #details #tags .tag,
#edit_place #body #details #tags .tag  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1em;
}

#add_place #body #details #tags .tag .checkbox_container,
#edit_place #body #details #tags .tag .checkbox_container {
    position: relative;
    margin: 0 0.6em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1.2em;
    height: 1.2em;
    border: 0.08em solid var(--panel-color);
    border-radius: 30%;
}


/* Hiding default checkbox to crete our own */

#add_place #body #details #tags .tag .checkbox_container input,
#edit_place #body #details #tags .tag .checkbox_container input {
    position: absolute;
    left: 0;
    top: -0.5em;
    z-index: 1;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#add_place #body #details #tags .tag .checkbox_container:hover,
#edit_place #body #details #tags .tag .checkbox_container:hover {
    opacity: 0.6;
}

#add_place #body #details #tags .tag .checkbox_container i,
#edit_place #body #details #tags .tag .checkbox_container i {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}


/* Sumbit button */

#add_place .submit_button,
#edit_place .submit_button {
    width: 15%;
    margin: 2em 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
