/* ------- CHAT STUFF ------*/

#chat_box {
    color: red;
}

.my_messages {
    display: flex;
    margin-top: 1em;
}

.users_to_message {
    margin-right: 0.5em;
    width: 20%;
    float: left;
    border: solid black;
    border-width: thin;
}

.chat_box {
    height: 25em;
    border: solid black;
    border-width: thin;
    padding: 0.5em 0.5em 0em 0.5em;
    border-radius: 1em;
    background-color: white;
    width: 80%;
}

.chat_box>#traded_messages {
    height: 21.8em;
}

.chat_box>input {
    background: var(--search-grey);
    border-color: black;
}

.js-is-hidden {
    display: none;
}